extends layout

block content
    h1= title
    p Welcome to #{title}
    script(src='http://fb.me/react-0.13.0.js')
    script(src='http://fb.me/JSXTransformer-0.13.0.js')
    script(src='http://code.jquery.com/jquery-1.10.0.min.js')
    div#content
    script(type="text/jsx", src="/javascripts/myReact.js")

